
.tank-options{
    display: flex;
    margin: 0 auto;
    max-width: 50%;
}
.tank-options-ul li button{
    background-color: #655d5d;
    transform: translate(.5px, .5px)
}
.tank-options-ul li button:hover{
    cursor: pointer;
}
.tank-options-ul li button:focus{
    border: none;
    outline: none;
}
.clicked{
    transform: translate(.5px, .5px);
    color: white;
}


.tank-list{
    max-width: 80%;
    max-height: 26vh;
    margin: 0 auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}
.tank-list-item{
    margin: 0 auto;
}
.tank-list-item h3{
    margin: .3em auto;
    text-align: center;
}
.tank-list-item img{
    margin: 0 auto;
}